.p{
    width: 30%;
    height: 35vh;
    margin: 15px 10px;
    border: 2px solid #ff9800 ;

    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.p-browser{
    height: 25px;
    background-color:#ff9800;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
    
}
.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    margin: 3px;
}
.p-img{
    width: 100%;
    transition: all 5s ease;
}
.p :hover .p-img {
    transform: translateY(-50%);
}
@media screen and (max-width: 480px) {
    .p {
      width: 40%;
      height: 20vh;
    }
  }
